# Ignore bundler config.
/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
/.idea/*
!/log/.keep
!/tmp/.keep
.DS_STORE

# Ignore Byebug command history file.
.byebug_history

# Ignore Images
/images/*
.tags
.tags1
images/*

# Ignore application configuration
/config/application.yml
