<nav class="navbar navbar-toggleable-md navbar-light bg-faded fixed-top">
  <button class="navbar-toggler navbar-toggler-right" type="button"
          data-toggle="collapse" data-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false"
          aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <%= link_to root_url, class: 'navbar-brand' do %>
    Флэшкарточкер
  <% end %>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto mt-2 mt-md-0">
      <li class="nav-item active">
        <%= link_to root_url, class: 'nav-link' do %>
          Главная
        <% end %>
      </li>
      <li class="nav-item active">
        <%= link_to '#', class: 'nav-link' do %>
          О Проекте
        <% end %>
      </li>
    </ul>
  </div>
</nav>
