<h6>Вспомните оригинальный текст, соответствующий переводу:</h6>
<br>
<%= form_tag check_card_path do %>
  <div class="row">
    <div class="input-group">
      <%= hidden_field_tag 'id', @card.id %>
      <%= text_field_tag 'answer', nil, placeholder: 'Ваши вариант',
                                        class: 'form-control' %>
      <span class="input-group-btn">
        <%= submit_tag 'Готово', class: 'btn btn-primary', name: 'Submit' %>
      </span>
    </div>
  </div>
<% end %>
