<section>
  <p class="description">
    Первый в мире удобный менеджер флеш-карточек. Именно так.
  </p>
  <%= render 'cards/card' %>
  <div class="col-md-6">
    <% if @card %>
      <%= render 'form' %>
    <% end %>
  </div>
</section>
