<div class="random-card">
  <div class="row">
    <div class="col-md-6">
      <div class="card-deck-wrapper">
        <div class="card-deck">
          <div class="card">
            <div class="card-block">
              Перевод (English): <%= @card.translated_text %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
