<div class="row">
  <div class="col-md-6">
    <div class="card-deck-wrapper">
      <div class="card-deck">
        <div class="card">
          <div class="card-header">
            Оригинальный текст: <%= @card.original_text %>
          </div>
          <div class="card-block">
            Перевод (Deutsch): <%= @card.translated_text %>
          </div>
          <div class="card-footer">
            Дата проверки: <%= @card.review_date.strftime('%d/%m/%Y') %>&nbsp;
            <%= render 'shared/links' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
