@import "bootstrap";
@import "font-awesome";
@import "toastr";

// Colors
$light-blue: #8caef7;
$black: #000;

.navbar {
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
}

.container {
  margin-top: 90px;
}

h1 {
  font-size: 1.7em !important;
}

.navigation-links li {
  display: inline-block;
  margin: 0 16px;
}

.card {
  margin-bottom: 5%;
}

.card-header {
  background-color: $light-blue;
  a {
    color: $black;
  }
}

.description {
  padding-top: 2%;
  font-size: 1em;
}
